@import "gruvbox.css";

* {
  border: none;
  border-radius: 8px;
  font-family: "JetBrainsMonoNL Nerd Font";
  font-size: 16px;
  min-height: 20px;
}

window#waybar {
  background: transparent;
}

#window {
  margin-top: 6px;
  padding: 0 10px;
  border-radius: 10px;
  transition: none;
  color: @fg;
  background: transparent;
}

/* --- Workspaces --- */
#workspaces {
  margin: 6px 0 0 8px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  background: @bg;
  transition: none;
}

#workspaces button {
  transition: none;
  color: @fg;
  background: transparent;
  border-radius: 2px;
}

#workspaces button.active {
  color: @orange;
}

#workspaces button:hover {
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  color: @orange_dim;
}

/* --- Common Module Styles --- */
#network, #cpu, #memory, #pulseaudio, #clock {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  color: @bg_h;
}

/* --- Module Specifics --- */
#network {
  background: @red;
}

#cpu {
  background: @green;
}

#memory {
  background: @yellow;
}

#pulseaudio {
  background: @blue;
}

#clock {
  background: @aqua;
  margin-right: 8px;
}

